@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
  overflow: hidden;

}

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #4d9de0, #ff6b6b);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
} 
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  .main {
    height: auto;
    width: auto;
    border-radius: 10px;
    background: #171a21;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    margin: 0 auto;
  }


/* .container { testing purposes only
  height: 965px;
  background-color: white;
  width: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
} */



.title-container {
  background: url("img/sunny.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: #fff;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  border-radius: 10px;
}

.form-container {
  background-color: #171a21;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #4d9de0;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #4d9de0;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #4d9de0;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #ff6b6b;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  border-radius: 10px;
}
